examples/org.eclipse.core.resources.semantic.examples/mimes/wsdl+xsd/SalesOrder.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/SalesOrder/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SalesOrder" targetNamespace="http://www.example.org/SalesOrder/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/SalesOrder/" xmlns:Q1="http://www.example.org/customer">
            <xsd:import schemaLocation="customer.xsd" namespace="http://www.example.org/customer"></xsd:import>
            <xsd:element name="createSalesOrder">

      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="ID" type="xsd:string"></xsd:element>
      			<xsd:element name="customer" type="Q1:Customer"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="createSalesOrderResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
    
    

</xsd:schema>
  </wsdl:types>
  <wsdl:message name="createSalesOrderRequest">
    <wsdl:part element="tns:createSalesOrder" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createSalesOrderResponse">
    <wsdl:part element="tns:createSalesOrderResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="SalesOrder">
    <wsdl:operation name="createSalesOrder">
      <wsdl:input message="tns:createSalesOrderRequest"/>
      <wsdl:output message="tns:createSalesOrderResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SalesOrderSOAP" type="tns:SalesOrder">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createSalesOrder">
      <soap:operation soapAction="http://www.example.org/SalesOrder/createSalesOrder"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SalesOrder">
    <wsdl:port binding="tns:SalesOrderSOAP" name="SalesOrderSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
