examples/org.eclipse.ui.resources.semantic.examples/mimes/wsdl+xsd/address.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/address" xmlns:tns="http://www.example.org/address" elementFormDefault="qualified">

    <complexType name="Address">
    	<sequence>
    		<element name="street" type="string"></element>
    		<element name="city" type="string"></element>
    		<element name="country" type="string"></element>
    	</sequence>
    </complexType>
</schema>